.input-container {
    height: 10rem;
    width: 40rem;
    border: 5px solid black;
    border-radius: 0px 20px 0px 20px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, orange, hotpink);
    box-shadow: 8px 8px 8px black;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.input-label {
    font-size: 1.5rem;
    margin-right: .5rem;
}

#user-input {
    font-size: 1.5rem;
    width: 15rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#add-item {
    margin-top: .5rem;
    border-radius: 5px;
}